.bg-addhumid{
    background-color: #F6EEE0;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}
.card-addhumid{
    width: 50%;
    height: 50%;
    background-color: #DAC6A3;
    border-radius: 20px;
    font-size: 25px;
}

#saveaddhumid{
    height: 40px;
    width: 150px;
    background-color: #E51D45;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}