.head-humdi{
    font-size: 24px;
    padding: 10px;
    background-color:#FFC107;
    text-align: center;
}

#add-humid{
    
    width: 55px;
    height: 40px;
    background-color: #41A8E2;
    color: #E5E5E5;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    float: right;
}

#cases-humid tr:nth-child(even) {
    font-weight: bold;
    background-color: #FFE082;
}
#cases-humid tr:nth-child(odd) {
    font-weight: bold;
    background-color: #F8F8F8;
}