
.card{
    text-align: center;
    margin-left: 120px;
    margin-top: 25px;
    width: 1200px;
    height: 820px;
    background-color: #F8F8FF;
    border-radius: 20px;
    
}

.card h1{
    margin-top: 100px;
    text-align: center;
    color: #000000;
    font-size: 54px;
}

.card input[type="password"],
.card input[type="text"]{
    width: 80%;
    padding: 15px;
    margin: 30px;
    border: 1px solid #ddd; 
    box-sizing: border-box;
    font-size: 20px;
}
.card input[type="submit"]{
    width: 80%;
    padding: 15px;
    margin: 20px;
    background-color: #2F4858;
    font-size: 25px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #F8F8FF;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}
.card-right{
    float: right;
    width: 800px;
    height: 810px;
}
.card form{
    float: right;
    margin-right: 35px;
    margin-top: 150px;
    
}

.card form a {
    float: left;
    margin-left: 310px;
    font-size: 20px;
}

.card-left {
    
    width: 540px;
    height: 820px;
    background-color: #95B1AF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    
}
.img-logo{
    margin-top: 175px;
    width: 300px;
    height: 300px;
}

.card-left p {
    margin-top: 20px;
    text-align: center;
    font-size: 45px;
    color: #F8F8FF;
    font-family:'Times New Roman', Times, serif;
}
