.bg-temp{

    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

#add-temp{
    width: 45px;
    height: 30px;
}

.text-setting{
    text-align: center;
    margin-bottom: 30px;
}

.card-temp{
    width: 60%;
    height: 600px;
    border-radius: 20px;
    background-color: aquamarine;
}